html {
	background: #000;
	color: #929497;

	font-family: sans-serif;
}
body {
	margin: 0;
}

.page {
	background: #221E1F;
	border: 1px solid #6D6E70;
	color: #FFF;
	padding: 0 0.5rem;

	display: block;
	margin: 0.5rem auto;
	max-width: 32rem;
}

#header {
	display: table;
	height: 100vh;
	max-height: 215px;
	width: 100%;
}
#header > h1 {
	display: table-cell;
	vertical-align: middle;
	line-height: 1;
	text-align: center;
}
#header > h1 img {
	width: 100%;
	max-width: 384px;
}

#nav {
	text-align: center;
}

@media (prefers-color-scheme: light) {
	html {
		background: #CCC;
		color: #221E1F;
	}

	.page {
		background: #FFF;
		color: #000;
	}
}
